WAR WAG WAB 
NTR NTG NTB 
SAR SAG SAB 
QR QG QB 
NSWR NSWG NSWB 
VR VG VB 
TR TG TB
-WAR -WAG
-WAR -WAB
-WAG -WAB
-NTR -NTG
-NTR -NTB
-NTG -NTB
-SAR -SAG
-SAR -SAB
-SAG -SAB
-QR -QG
-QR -QB
-QG -QB
-NSWR -NSWG
-NSWR -NSWB
-NSWG -NSWB
-VR -VG
-VR -VB
-VG -VB
-TR -TG
-TR -TB
-TG -TB
-WAR -NTR
-WAG -NTG
-WAB -NTB
-WAR -SAR
-WAG -SAG
-WAB -SAB
-NTR -SAR
-NTG -SAG
-NTB -SAB
-NTR -QR
-NTG -QG
-NTB -QB
-SAR -QR
-SAG -QG
-SAB -QB
-SAR -NSWR
-SAG -NSWG
-SAB -NSWB
-SAR -VR
-SAG -VG
-SAB -VB
-QR -NSWR
-QG -NSWG
-QB -NSWB
-NSWR -VR
-NSWG -VG
-NSWB -VB

#Initial Assumption!
-WAB
-WAG