-C1Y -C2Y
-C1Y -C3Y

-C1W -C2W
-C1W -C3W

-C1B -C2B
-C1B -C3B

-C2Y -C1Y
-C2Y -C3Y

-C2W -C1W
-C2W -C3W

-C2B -C1B
-C2B -C3B

-C3Y -C1Y
-C3Y -C2Y

-C3W -C1W
-C3W -C2W

-C3B -C1B
-C3B -C2B

C1Y C1W C1B
C2Y C2W C2B
C3Y C3W C3B

-L1W -L2W
-L1W -L3W

-L1Y -L2Y
-L1Y -L3Y

-L1B -L2B
-L1B -L3B

-L2W -L1W
-L2W -L3W

-L2Y -L1Y
-L2Y -L3Y

-L2B -L1B
-L2B -L3B

-L3W -L1W
-L3W -L2W

-L3Y -L1Y
-L3Y -L2Y

-L3B -L1B
-L3B -L2B

-O1Y C1Y C1B
-O1W C1W C1B

-O2Y C2Y C2B
-O2W C2W C2B

-O3Y C3Y C3B
-O3W C3W C3B

# initial facts
O1Y
L1W
O2W
L2Y
O3Y
L3B